<link rel="stylesheet" href="/styles/home.css">
<link rel="stylesheet" href="/styles/about.css">
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="css/freelancer.min.css" rel="stylesheet">
<%- include('includes/header'); %>
    <title><%=title%></title>
</head>
<body>
    <div class="row m-0 p-0 justify-content-center">
        <%- include('includes/sideMenu'); %>
        <div class="col-9 mb-5 content">
            <div class="row m-0 p-0 justify-content-center mt-5">
                <img class="col-8 col-md-4 col-lg-4 mb-3" src="/img/about/me.png" alt="Jordan Dickson">
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-12 col-md-4 col-lg-4 sectionRight">
                    <div class="row m-0 p-0 justify-content-center">
                        <img class="col-4" src="/img/about/jordan-avataaars.svg" alt="Jordan Avatar">
                    </div>
                    <div class="row m-0 mt-3 p-0" style="text-align: center;">
                        <h3>About me:</h3>
                    </div>
                    <hr>
                    <p class="mt-3 pb-5">
                        My name is Jordan Dickson. I was born and raised in Washington State. I graduated from
                        Bonney Lake High School and I got my associates degree from Pierce Community College Puyallup. I am
                        currently working on finishing my Bachelors Degree in Software Engineering with a minor in Web Development
                        at Brigham Young University Idaho.
                    </p>
                </div>
            </div>
            <div class="row m-0 p-0 justify-content-center mt-5">
                <img class="col-8 col-md-4 col-lg-4 mb-3" style="border-radius: 50px;" src="/img/about/basketball.svg" alt="Jordan Dickson">
                <div class="col-1 col-md-1 col-lg-1"></div>
                <div class="col-12 col-md-4 col-lg-4 sectionRight">
                    <div class="row m-0 p-0 justify-content-center">
                        <i class="fas fa-basketball-ball"></i>
                    </div>
                    <div class="row m-0 p-0" style="text-align: center;">
                        <h3>Basketball:</h3>
                    </div>
                    <hr>
                    <p class="mt-3">
                        I am an avid basketball fan. I played throughout k-12 and continue to play whenever possible.
                        My favorite team is the Boston Celtics. I continue to hope that one day Washington will hear 
                        the good news that a basketball team will be restored to Seattle.
                    </p>
                </div>
            </div>
            <div class="row m-0 p-0 justify-content-center mt-5">
                <img class="col-8 col-md-4 col-lg-4 mb-3" style="border-radius: 50px;" src="/img/about/pine-tree.svg" alt="Jordan Dickson">
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-12 col-md-4 col-lg-4 sectionRight">
                    <h3>Outdoors:</h3>
                    <hr>
                    <p class="mt-3">
                        Being from the Pacific Northwest I love the outdoors. I spent most of my childhood vacations visiting 
                        hiking spots and the beautiful Washington coast. Thanks to this appreciation my parents instilled in me
                        of nature, I am always on the look for a new spot to visit and admire.
                    </p>
                </div>
            </div>
            <div class="row m-0 p-0 justify-content-center mt-5">
                <img class="col-8 col-md-4 col-lg-4 mb-3" style="border-radius: 50px;" src="/img/about/badges.svg" alt="Jordan Dickson">
                <div class="col-1 col-md-1 col-lg-1"></div>
                <div class="col-12 col-md-4 col-lg-4 sectionRight">
                    <h3>Scouts:</h3>
                    <hr>
                    <p class="mt-3">
                        I am an Eagle Scout. My eagle project was to create a fence that distinguished a pedestrian trail
                        from a bike trail in order to keep park visitors safe. I learned many life lessons from my time in scouting
                        including my responsibility to be a good citizen who cares for the environment as well as cares for those
                        around me.
                    </p>
                </div>
            </div>
            <div class="row m-0 p-0 justify-content-center mt-5">
                <img class="col-8 col-md-4 col-lg-4 mb-3" style="border-radius: 50px;" src="/img/about/spain.svg" alt="Jordan Dickson">
                <div class="col-1 col-md-1 col-lg-1"></div>
                <div class="col-12 col-md-4 col-lg-4 sectionRight">
                    <h3>Service Representative:</h3>
                    <hr>
                    <p class="mt-3">
                        For two years, I was a service representative for my Church in Spain. I was able to look for opportunities
                        to serve the people in the areas where I was as well as share my beliefs with them. I learned a lot about 
                        living in another culture, time management, and teaching principles in a simple way. I am grateful for all the
                        things I learned while in Spain, and continue to look for opportunities to apply what I learned and keep up on the 
                        Spanish language.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>