        <%- include('includes/header'); %>
        <link rel="stylesheet" href="/styles/about.css">
        <title><%=title%></title>
    </head>
    <body>

        <%- include('includes/menu'); %>

        <div class="content">
            <img src="/img/about/me.svg" alt="Vector art of me" id="me-img">
            <img id="spruce-1" src="/img/about/pine-tree.png" alt="Spruce tree">
            <div id="about-text">
                <h1>About Me</h1>
                <p id="description">
                    Born and raised Washatonian. I learned to code while studying at 
                    Brigham Young University-Idaho where I met my wife. After graduating,
                    we moved out to Boise Idaho where we now live. I work for Tandem Diabetes
                    on the test automation team where I code in Javascript using the jasmine
                    testing framework. In my free time, I enjoy making fun little web projects.
                </p>
            </div>
            <img id="spruce-2" src="/img/about/pine-tree.png" alt="Spruce tree">
        </div>

    </body>

    <script>
        window.onscroll = function() {
            var img = document.getElementById('me-img');
            if ( window.pageYOffset > 100 ) {
                img.style.width = "40%";
                img.style.marginBottom = "20px";
            }
        }
    </script>
</html>