        <%- include('includes/header'); %>
        <link rel="stylesheet" href="/styles/about.css">
        <title><%=title%></title>
    </head>
    <body>

        <%- include('includes/menu'); %>

        <div class="content">
            <div id="about-text">
                <h1>About Me</h1>
                <p id="description">
                    Born and raised Washingtonian. I learned to code while studying at 
                    Brigham Young University-Idaho where I met my wife. After graduating,
                    we moved out to Boise Idaho where we now live. I work for Tandem Diabetes
                    on the test automation team where I code in Javascript using the jasmine
                    testing framework. In my free time, I enjoy making fun little web projects.
                </p>
            </div>
        </div>

    </body>
</html>