<link rel="stylesheet" href="/styles/home.css">
<%- include('includes/header'); %>
<title><%=title%></title>
</head>

<body>
    <div class="row m-0 p-0 justify-content-center">
        <%- include('includes/sideMenu'); %>
        <div class="col-9">
            <div class="row m-0 p-0 mb-3 mt-5 justify-content-center">
                <h4 class="col-12" style="text-align: center;">LabStats Software Quality Assurance Intern</h4>
                <hr>
            </div>
            <div class="row m-0 p-0 justify-content-center">
                <img class="col-8 col-md-4 col-lg-4" src="/img/experience/LabStatsLogo.jpg" alt="coding">
            </div>
            <div class="row m-0 mt-2 mb-5 p-0 justify-content-center">
                <div class="col-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Job Description</th>
                                <th scope="col">Technologies Used</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td class="description">
                                I worked at LabStats as a Software Quality Assurance Intern for three months.
                                During my time at LabStats I helped in the creation of automated testing for 
                                the LabStats Portal web application. While creating these automated tests I was also 
                                in charge of greenlighting changes to the Portal web application before the changes were deployed 
                                to production.
                                <br>
                                <br>
                                <b>Here are some of the stats for my contributions during my time at LabStats:</b>
                                <ul>
                                    <li>Automated Tests Written: <b>147</b></li>
                                    <li>Manual Test Cases Written: <b>330</b></li>
                                    <li>Use Case Diagrams Created: <b>45</b></li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>C#</li>
                                    <li>Selenium</li>
                                    <li>Use case diagram creation</li>
                                    <li>Manual tests creation</li>
                                    <li>Green Lighting</li>
                                </ul>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row m-0 p-0 justify-content-center">
                <h4 class="col-12 mt-5" style="text-align: center;">BYUI TA: Web Backend Development II</h4>
                <hr>
            </div>
            <div class="row m-0 p-0 justify-content-center">
                <img class="col-12 col-md-10 col-lg-10" src="/img/experience/coding.jpg" alt="coding">
            </div>
            <div class="row m-0 mt-2 mb-5 p-0 justify-content-center">
                <div class="col-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Job Description</th>
                                <th scope="col">Technologies Used</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td class="description">
                                I have worked as a Teachers Assistant for 6 months and am now going into my 
                                third semester of being a Teachers Assistant. My responsibilities include, creating 
                                rubrics for assignments, grading assignments, and holding tutoring sessions to help students 
                                with projects and understanding course material.
                            </td>
                            <td>
                                <ul>
                                    <li>Node.js</li>
                                    <li>Express</li>
                                    <li>MongoDB</li>
                                    <li>Mongoose</li>
                                    <li>MVC Pattern</li>
                                </ul>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>