        <%- include('includes/header'); %>
        <link rel="stylesheet" href="/styles/experience.css">
        <title><%=title%></title>
    </head>
    <body>

        <%- include('includes/menu'); %>

        <div class="content">
            <img src="/img/experience/syringe.jpeg" alt="Tandem Diabetes Pump" class="job-img">
            <div class="job-text">
                <h1>
                    Tandem Diabetes Inc.
                </h1>
                <p class="sub-header">
                    Overview
                </p>
                <p class="text">
                    I am currently a software engineer on the test automation team at Tandem Diabetes.
                    I am responsible for creating, revising, and updating scripts to test functionality
                    of the Tandem Insulin Pump. I develop in Javascript using the jasmine testing framework to create
                    scripts.
                </p>
                <p class="sub-header">
                    Technologies
                </p>
                <p class="text">
                    Javascript, Node, Jasmine
                </p>
            </div>
        </div>

        <div class="content">
            <img src="/img/experience/imac.jpeg" alt="LabStats Logo" class="job-img">
            <div class="job-text">
                <h1>
                    LabStats
                </h1>
                <p class="sub-header">
                    Overview
                </p>
                <p>
                    For three months during my Junior year of college I was an intern at the company LabStats.
                    During my time at LabStats I helped in the creation of automated tests for the 
                    LabStats web application. I also helped in greenlighting changes that occurred to the
                    web application.
                </p>
                <p>
                    Here are some of the stats for my contributions during my time at LabStats:
                </p>
                <b>
                    <p class="automatedStats">
                        &emsp;- Automated Tests Written: 147
                    </p>
                    <p class="automatedStats">
                        &emsp;- Manual Test Cases Written: 330
                    </p>
                    <p class="automatedStats text">
                        &emsp;- Use Case Diagrams Created: 45
                    </p>
                </b>
                <p class="sub-header">
                    Technologies
                </p>
                <p class="text">
                    Selenium, C#
                </p>
            </div>
        </div>

        <div class="content" style="margin-bottom: 150px;">
            <img src="/img/experience/teacher.jpeg" alt="Teacher" class="job-img">
            <div class="job-text">
                <h1>
                    Teacher's Assistant
                </h1>
                <p class="sub-header">
                    Overview
                </p>
                <p class="text">
                    During three semesters at Brigham Young University-Idaho I was a a Teacher's
                    Assistant for Web Development II. It was still a developing course
                    so I was able to assist in creating assignments. I also graded assignements,
                    projects and tutored students who needed help with projects or assignments 
                    throughout the week.
                </p>
                <p class="sub-header">
                    Technologies
                </p>
                <p class="text">
                    Javascript, Node, Express, MongoDB, EJS
                </p>
            </div>
        </div>

    </body>
</html>