<link rel="stylesheet" href="/styles/home.css">
<%- include('includes/header'); %>
    <title><%=title%></title>
</head>
<body>
    <div class="row m-0 p-0 justify-content-center">
        <%- include('includes/sideMenu'); %>
        <div class="col-9" style="text-align: center;">
            <div class="col-12 homeIcon">
                <div class="row m-0 p-0 jusify-content-center">
                    <img class="col-12 mainPic" src="/img/mt-rainier.svg" alt="Mount Rainier">
                </div>
                <div class="row m-0 p-0 justify-content-center">
                    <p class="col-12 title">Jordan Dickson's Portfolio</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>