    <link rel="stylesheet" href="/styles/home.css">
    <%- include('includes/header'); %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    
    
        <title><%=title%></title>
    </head>
    <body>

        <%- include('includes/menu'); %>

        <div class="content">
            <img id="pic-of-me" src="/img/home/me.png" alt="Jordan Dickson">
            <div class="text">
                <h1>
                    Hi nice to meet you!
                </h1>
                <p>
                    This is my little portfolio to tell you more about me and what I can do as a developer.
                </p>
                <small>
                    ...Maybe we'll become friends?
                </small>
            </div>
        </div>
    </body>
</html>