<link rel="stylesheet" href="/styles/home.css">
<link rel="stylesheet" href="/styles/projects.css">
<%- include('includes/header'); %>
    <title><%=title%></title>
</head>
<body>
    <div class="row m-0 p-0 justify-content-center">
        <%- include('includes/sideMenu'); %>
        <div class="col-9">
            <div class="row m-0 p-0 mt-5 justify-content-center">
                <h4 class="col-12" style="text-align: center;">Dickson Cookbook</h4>
                <hr>
            </div>
            <div class="row m-0 mb-3 p-0 justify-content-center">
                <div class="col-12">
                    <a href="https://dickson-cookbook.herokuapp.com/" target="_blank">
                        <img class="img-fluid rounded" src="img/projects/cookbook.PNG" alt="Dickson Cookbook">
                    </a>
                </div>
            </div>
            <div class="row m-0 mt-2 mb-5 p-0 justify-content-center">
                <div class="col-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Project Description</th>
                                <th scope="col">Skills Displayed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td class="description">
                                This was a personal project of mine. My family was getting frustrated with our google 
                                drive setup for our family cookbook. So I took the initiative to create a family cookbook 
                                website. I'm really happy with how it turned out. I created it using Node.js, Express, EJS,
                                with Heroku serving as the platform to serve the application and database.
                            </td>
                            <td>
                                <ul>
                                    <li>Node.js</li>
                                    <li>Express</li>
                                    <li>EJS</li>
                                    <li>PostgreSQL</li>
                                </ul>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row m-0 p-0 mt-5 justify-content-center">
                <h4 class="col-12" style="text-align: center;">Weekly Goal Tracker</h4>
                <hr>
            </div>
            <div class="row m-0 mb-3 p-0 justify-content-center">
                <div class="col-8 col-md-6 col-lg-6">
                    <a href="https://weekly-goals.herokuapp.com" target="_blank">
                        <img class="img-fluid rounded" src="img/projects/weekly-goals.png" alt="Weekly Goals">
                    </a>
                </div>
            </div>
            <div class="row m-0 mt-2 mb-5 p-0 justify-content-center">
                <div class="col-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Project Description</th>
                                <th scope="col">Skills Displayed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td class="description">
                                This was another personal project of mine. This project allows for a user 
                                to create personal goals that are tracked throughout the week. Each day 
                                the user is presented with their goals for that day. At the end of each 
                                day the goals are added to their percentage of overall goals completed. 
                                This was my first project where I used Vue.js, Firebase, 
                                and first time creating a progressive web application.
                            </td>
                            <td>
                                <ul>
                                    <li>Vue.js</li>
                                    <li>Vuex</li>
                                    <li>Progressive Web Application</li>
                                    <li>Firebase</li>
                                    <li>Firebase Authentication</li>
                                    <li>Firebase Functions</li>
                                </ul>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row m-0 p-0 mt-5 justify-content-center">
                <h4 class="col-12" style="text-align: center;">Sudoku</h4>
                <hr>
            </div>
            <div class="row m-0 mb-3 p-0 justify-content-center">
                <div class="col-12">
                    <a href="https://dickson-cookbook.herokuapp.com/" target="_blank">
                        <img class="img-fluid rounded" src="img/projects/sudoku.png" alt="Sudoku">
                    </a>
                </div>
            </div>
            <div class="row m-0 mt-2 mb-5 p-0 justify-content-center">
                <div class="col-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Project Description</th>
                                <th scope="col">Skills Displayed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td class="description">
                                This was possibly my favorite project I worked on. A school project 
                                turned passion project. This was my first exposure to Node.js and one of 
                                my most time intensive projects. This allows for users to have their own 
                                sudoku boards that they can work on. With game logic, authentication, and 
                                use of api implementation. It was one of my more challenging projects. I'm very
                                satisfied with how it turned out.
                            </td>
                            <td>
                                <ul>
                                    <li>Node.js</li>
                                    <li>Express</li>
                                    <li>EJS</li>
                                    <li>PostgreSQL</li>
                                    <li>Authentication</li>
                                    <li>API</li>
                                </ul>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row m-0 p-0 mt-5 justify-content-center">
                <h4 class="col-12" style="text-align: center;">The Daily Word</h4>
                <hr>
            </div>
            <div class="row m-0 mb-3 p-0 justify-content-center">
                <div class="col-8 col-md-6 col-lg-6">
                    <a href="https://the-daily-word.herokuapp.com" target="_blank">
                        <img class="img-fluid rounded" src="img/projects/the-daily-word.png" alt="The Daily Word App">
                    </a>
                </div>
            </div>
            <div class="row m-0 mt-2 mb-5 p-0 justify-content-center">
                <div class="col-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Project Description</th>
                                <th scope="col">Skills Displayed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td class="description">
                                Another personal project allowing for me to track my church notes. 
                                This was another application I used to become more familiar with 
                                progressive web applications.
                            </td>
                            <td>
                                <ul>
                                    <li>Vue.js</li>
                                    <li>Vuex</li>
                                    <li>Progressive Web Application</li>
                                    <li>Firebase</li>
                                    <li>Firebase Authentication</li>
                                </ul>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row m-0 p-0 mt-5 justify-content-center">
                <h4 class="col-12" style="text-align: center;">Personal Planner</h4>
                <hr>
            </div>
            <div class="row m-0 mb-3 p-0 justify-content-center">
                <div class="col-12">
                    <a href="https://ta-projects.herokuapp.com/proveAssignments/project2/planner" target="_blank">
                        <img class="img-fluid rounded" src="img/projects/planner.png" alt="Personal Planner">
                    </a>
                </div>
            </div>
            <div class="row m-0 mt-2 mb-5 p-0 justify-content-center">
                <div class="col-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Project Description</th>
                                <th scope="col">Skills Displayed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td class="description">
                                A daily planner application I created during my time as a TA. 
                            </td>
                            <td>
                                <ul>
                                    <li>Node.js</li>
                                    <li>Express</li>
                                    <li>Authentication</li>
                                    <li>MongoDB</li>
                                    <li>Mongoose</li>
                                </ul>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row m-0 p-0 mt-5 justify-content-center">
                <h4 class="col-12" style="text-align: center;">Ecommerce Project</h4>
                <hr>
            </div>
            <div class="row m-0 mb-3 p-0 justify-content-center">
                <div class="col-12">
                    <a href="https://ta-projects.herokuapp.com/proveAssignments/shop" target="_blank">
                        <img class="img-fluid rounded" src="img/projects/ecommerce.png" alt="Ecommerce web application">
                    </a>
                </div>
            </div>
            <div class="row m-0 mt-2 mb-5 p-0 justify-content-center">
                <div class="col-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Project Description</th>
                                <th scope="col">Skills Displayed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td class="description">
                                An ecommerce web application I made during my time as a TA. I used this project 
                                to help walk students through principles they were learning in class.
                            </td>
                            <td>
                                <ul>
                                    <li>Node.js</li>
                                    <li>Express</li>
                                    <li>Authentication</li>
                                    <li>MongoDB</li>
                                    <li>Mongoose</li>
                                </ul>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>