.content {
    justify-items: center;
    align-items: center;
}

#about-content {
    grid-column: 6/13;
    height: 32vw;
    background-image: url('/img/about/cloud-3.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    justify-items: center;
}

h1 {
    align-self: flex-end;
    text-align: center;
}

#description {
    align-self: flex-start;
    width: 50%;
}

@media (max-width:1400px) { 
    #about-content {
        grid-column: 4/15;
        height: 50vw;
    }
}

@media (max-width:900px) { 
    #about-content {
        grid-column: 1/18;
        height: 75vw;
    }

    h1 {
        font-size: 14pt;
    }

    #description {
        font-size: 10pt;
    }
}