h1 {
    text-align: center;
}

.content {
    align-items: center;
    justify-items: center;
    margin-bottom: 0;
}

#me-img {
    grid-column: 7/12;
    width: 100%;
    margin-bottom: 100px;
    transition: 2s ease;
}

#about-text {
    grid-column: 7/12;
}

#description {
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 30px;
    margin-bottom: 0px;
}

#spruce-1 {
    grid-column: 3/6;
    width: 70%;
}

#spruce-2 {
    grid-column: 13/16;
    width: 70%;
}

#mountain {
    grid-column: 1/18;
    width: 70%;
    margin-top: 50px;
}

@media (max-width:820px) { 
    #me-img {
        grid-column: 3/16;
        margin-bottom: 20px;
    }

    #about-text {
        grid-column: 3/15;
    }

}