.content {
    justify-items: center;
    align-items: center;
}

img {
    grid-column: 8/11;
    width: 100%;
}

h1 {
    grid-column: 1/18;
    border-top: solid 5px #E85A4F;
    border-bottom: solid 5px #E85A4F;
}

#description {
    grid-column: 1/18;
    width: 30%;
}

@media (max-width:900px) {
    img {
        grid-column: 4/15;
    }
    
    h1 {
        grid-column: 1/18;
    }
    
    #description {
        grid-column: 2/17;
        width: 80%;
    }
}