body {
    margin: 0;
    padding: 0;
    background-color: #EAE7DC;
}

a {
    color: #E98074;
    text-decoration: none;
    padding: 0;
    margin: 0;
    Font-Family: 'Cabin', Sans-Serif;
    font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #E98074;
}

h1 {
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 35px;
    color: #E85A4F;
}

p {
    Font-Family: 'Cabin', Sans-Serif;
    Font-Size: 14pt;
    color: #25252A;
}

button {
    background-color: #E85A4F;
    color: white;
    border: solid 2px #E98074;
    border-radius: 3px;
    padding: 5px;
    font-size: 16pt;
}

button:focus {
    border: solid 2px #25252A;
}

small {
    Font-Family: 'Cabin', Sans-Serif;
}

.content {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    margin-bottom: 100px;
}

@media (max-width:820px) { 
    p {
        font-size: 12pt;
    }
}