.content {
    justify-items: center;
    align-items: center;
}

#pic-of-me {
    grid-column: 5/10;
    background-color: #EAE7DC;
    width: 80%;
}

.text {
    grid-column: 10/14;
}

@media (max-width:820px) { 
    #pic-of-me {
        grid-column: 2/17;
        width: 100%;

    }
    
    .text {
        grid-column: 3/16;
        text-align: center;
    }
}