.content {
    justify-items: center;
    align-items: center;
}

.blob-motion {
    grid-column: 5/10;
    grid-row: 1;
    z-index: 1;
    width: 100%;
    height: auto;
}

.text {
    grid-column: 10/14;
}

.icon-link {
  margin-bottom: 10px;
}

#pic-of-me {
    grid-column: 5/10;
    grid-row: 1;
    width: 70%;
    z-index: 2;
}

#icon-attribute {
  color: #8E8D8A;
  text-decoration: underline;
}

#icon-attribute:hover {
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
}

@media (max-width:1200px) { 
  .icon-link a {
    font-size: 10pt;
  }

  #pic-of-me {
      grid-column: 5/14;
      width: 100%;
      z-index: 2;
  }

  .blob-motion {
      grid-column: 5/14;
      grid-row: 1;
      z-index: 1;
      width: 100%;
      height: auto;
  }
  
  .text {
      grid-column: 3/16;
      text-align: center;
  }
}

@media (max-width:900px) {
    .icon-link a {
      font-size: 10pt;
    }
  
    #pic-of-me {
        grid-column: 2/17;
        width: 100%;
        z-index: 2;
    }

    .blob-motion {
        grid-column: 2/17;
        grid-row: 1;
        z-index: 1;
        width: 100%;
        height: auto;
    }
    
    .text {
        grid-column: 3/16;
        text-align: center;
    }
}