
@media (min-width:1025px) { 
    #pic-of-me {
        width: 25vw;
        height: 25vw;
        background-color: #EAE7DC;
    }

    .left {
        grid-column: 4/7;
    }

    .right {
        grid-column: 7/10;
    }

    .section {
        display: grid;
        width: 100vw;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        justify-items: center;
    }
}