#menu {
    margin: 0;
    padding: 0;
}

#about {

}

#experience {
    
}

#home {

}

#projects {

}

#contact {
    
}

.active {
    text-decoration: underline;
}

@media (min-width:1025px) { 
    a {
        font-size: 12pt;
    }

    #menu {
        display: grid;
        grid-template-columns: repeat(17, 1fr);
        align-items: center;
        justify-items: center;
        padding-top: 50px;
        padding-bottom: 75px;
    }

    #jordan-header {
        font-family: 'Pacifico', cursive;
        font-size: 28pt;
        color: #8E8D8A;
    }

    #jordan-header:hover {
        cursor: pointer;
        animation: name 2s;
    }

    #about {
        grid-column: 3/5;
    }

    #experience {
        grid-column: 5/7; 
    }

    #home {
        grid-column: 7/12;
    }

    #projects {
        grid-column: 12/14;
    }

    #contact {
        grid-column: 14/16;
    }

    @keyframes name {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
      }
      
}
