#where-to-watch {
    grid-column: 4/7;
    background-image: url('/img/projects/film-reel.jpeg');
}

#where-to-watch::after{
    background: linear-gradient(0deg, rgb(233, 128, 116, 0.3), rgb(233, 128, 116, 0.3));
}

#where-to-watch:hover::after{
    content: 'WHERE TO WATCH';
}

#weekly-goals {
    grid-column: 8/11;
    background-image: url('/img/projects/target.jpeg');
}

#weekly-goals::after{
    background: linear-gradient(0deg, rgb(216, 195, 165, 0.3), rgb(216, 195, 165, 0.3));
}

#weekly-goals:hover::after{
    content: 'WEEKLY GOALS';
}

#our-lists {
    grid-column: 12/15;
    background-image: url('/img/projects/checklist.jpeg');
}

#our-lists::after{
    background: linear-gradient(0deg, rgb(142, 141, 138, 0.3), rgb(142, 141, 138, 0.3));
}

#our-lists:hover::after{
    content: 'OUR LISTS';
}

.project-section {
    height: 17.64vw;
    border-radius: 50%;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: .5s ease;
}

.project-section::after{
    content: ' ' ;
    width: 100%;
    height: 100%;
    transform: scale(0);
    position: relative;
    display: block;
    z-index: 1;
    border-radius: 50%;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-section:hover::after{
    width: 100%;
    height: 100%;
    font-size: 32pt;
    Font-Family: 'Roboto Condensed', Sans-Serif;
    font-weight: bold;
    color: white;
    transform: scale(1);
}

@media (max-width:1200px) { 
    #where-to-watch {
        grid-column: 6/13;
    }

    #where-to-watch::after{
        content: 'WHERE TO WATCH';
    }

    #our-lists {
        grid-column: 6/13;
    }

    #our-lists::after{
        content: 'OUR LISTS';
    }

    #weekly-goals {
        grid-column: 6/13;
    }

    #weekly-goals::after{
        content: 'WEEKLY GOALS';
    }

    .project-section {
        height: 41.18vw;
    }

    .project-section::after{
        width: 100%;
        height: 100%;
        font-size: 21pt;
        Font-Family: 'Roboto Condensed', Sans-Serif;
        font-weight: bold;
        color: white;
        transform: scale(1);
    }
}

@media (max-width:1000px) { 
    #where-to-watch {
        grid-column: 4/15;
    }

    #our-lists {
        grid-column: 4/15;
    }

    #weekly-goals {
        grid-column: 4/15;
    }

    .project-section {
        height: 64.71vw;
    }
}   


